{% extends "maestra.html" %}
{% block titulo %}
Agregar Cliente cliente
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar Cliente</h3>
            <form action="{{url_for('guardar_cliente')}}" method="post">
                <br>
                <br>
                <label class="nombreC" for="nombre">Nombre:</label>
                <input required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">
                <br>
                <br>
                <label class="apellidoC" for="apellido">Apellido</label>
                <input required type="text" class="input" placeholder="Apellido" name="apellido" id="apellido">
                <br>
                <br>
                <label class="fechanacimientoC" for="fechanacimiento">Fecha de Nacimineto</label>
                <input required type="date" class="input" placeholder="Fecha de nacimiento" name="fechanacimiento" id="fechanacimiento">
                <br>
                <br>
                <label class="cedulaC" for="cedula">Cedula</label>
                <input required type="number" placeholder="Cedula"name="cedula"  id="cedula">
                <br>
                <br>
                <label class="telefonoC" for="telefono">Telefono</label>
                <input required type="number" placeholder="Telefono"name="telefono"  id="telefono">
                <br>
                <br>
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('clientes')}}">
                    <button class="button is-primary mt-2">Volver</button>
                </a>
            </form>
        </div>
    </div>
</section>
{% endblock %}