{% extends "maestra.html" %}
{% block titulo %} Desarrolladores {% endblock %}
{% block contenido %}
<section>
    <div>
        <img class="img_camilo" src="../static/images/Camilo velasquez.jpg" title="JUAN CAMILO VELASQUEZ HURTADO">
        <p> Camilo Velasquez Hurtado</p>
        <p> velasquezhurtadoc@gmail.com</p>
        <p> 3132552214</p>
    </div>
    <div>
        <img class="img_andres" src="../static/images/Andres serna.jpg" title="ANDRES CAMILO SERNA VILLEGAS">
        <p> Andres Camilo Serna</p>
        <p> camiloser2004@gmail.com</p>
        <p> 3103952790</p>
    </div>
    <div>
        <img class="img_jeff" src="../static/images/Jefferson izquierdo.jpg" title="JEFFERSON DAVID IZQUIERDO ESCOBAR">
        <p> Jefferson izquierdo</p>
        <p> Jeffersondavid803@gmail.com</p>
        <p> 3188650855</p>
    </div>
    <div>
        <img class="img_brayan" src="../static/images/Brayan Riascos.jpg" title="BRAYAN ESTIVEN RIASCOS ARROYO">
        <p> Brayan Riascos</p>
        <p> briascosarroyo@gmail.com</p>
        <p> 3104941494</p>
    </div>
</section>
{% endblock %}