{% extends "maestra.html" %}
{% block titulo %}
Editar corte
{% endblock %}
{% block contenido %}

<section class="section">
    <div class="coluna">
        <div class="columna1">
            <h3 class="titulo">Editar corte</h3>
            <form action="{{url_for('actualizar_barbero')}}" method="POST">

                <input type="hidden" name="codigobarbero" value="{{barbero[0]}}">
                <label for="nombre">Nombre</label>
                <input value="{{barbero[1]}}" required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">

                <label for="apellido">Apellido</label>
                <input value="{{barbero[2]}}" required type="text" class="input" placeholder="Apellido" name="apellido" id="apellido">

                <label for="descripcion">Descripcion</label>
                <input  value="{{barbero[3]}}"required type="text" class="input" placeholder="Descripcion" name="descripcion" id="descripcion">

        
                <button type="submit" class="button">Guardar</button>

                <a href="{{url_for('barberos')}}">
                    <button  class="boton"> Volver </button>
                </a>

            </form>
            

        </div>

    </div>
</section>

{% endblock %}